<form>
    <fieldset>
        <legend>Add Comment</legend>
        <!-- TITLE -->
        <div class="form-group">
            <label for="comment-title">Title</label><br>
            <input type="text" class="form-control" id="comment-title" name="title" placeholder="Title">
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label for="comment-content">Description</label><br>
            <textarea class="form-control" name="content" id="comment-content" rows="10" placeholder="Title"></textarea>
        </div>
    </fieldset>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Comment</button>
    </div>
</form>